@font-face {
    font-family: 'iransans';
    src: url('fonts/IRANSansWeb.eot'); /* IE9 Compat Modes */
    src: url('fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/IRANSansWeb.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/IRANSansWeb.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/IRANSansWeb.ttf')  format('truetype');
}

h1,h2,h3,h4,h5,h6,p,span,text,textarea,input,select,button,a,b,div,li
{
    font-family: 'iransans' !important;
}
